<div class="table-scroll">
  <table class="users-table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Birthday</th>
        <th scope="col">Gender</th>
        <th scope="col">Country</th>
        <th scope="col" class="actions-heading">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (user of users; track user.id) {
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.birthday | date: 'MMM d, y' }}</td>
          <td>{{ user.gender }}</td>
          <td>{{ user.country }}</td>
          <td>
            <div class="actions-cell">
              <button
                tuiIconButton
                appearance="flat"
                size="s"
                iconStart="@tui.eye"
                type="button"
                aria-label="View user"
                (click)="view.emit(user)"
              ></button>
              @if (canManageUsers) {
                <button
                  tuiIconButton
                  appearance="flat"
                  size="s"
                  iconStart="@tui.code"
                  type="button"
                  aria-label="Edit user"
                  (click)="edit.emit(user)"
                ></button>
                <button
                  tuiIconButton
                  appearance="flat"
                  size="s"
                  iconStart="@tui.trash"
                  class="danger-action"
                  type="button"
                  aria-label="Delete user"
                  (click)="remove.emit(user)"
                ></button>
              }
            </div>
          </td>
        </tr>
      } @empty {
        <tr>
          <td class="empty-cell" colspan="6">No users yet. Click "Add User" to create one.</td>
        </tr>
      }
    </tbody>
  </table>
</div>

<footer class="table-footer">
  <span>{{ pageStart }} - {{ pageEnd }} of {{ totalRecords }}</span>
  <tui-pagination
    size="m"
    [length]="pageCount"
    [index]="pageIndex"
    (indexChange)="handlePageIndexChange($event)"
  />
</footer>
