<p-table
  [value]="users"
  dataKey="id"
  responsiveLayout="stack"
  breakpoint="640px"
  tableStyleClass="users-table"
>
  <ng-template pTemplate="header">
    <tr>
      <th class="center-cell">#</th>
      <th class="center-cell">Name</th>
      <th class="center-cell">Birthday</th>
      <th class="center-cell">Gender</th>
      <th class="center-cell">Country</th>
      <th class="center-cell">Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
    <tr>
      <td class="center-cell">{{ rowIndex + 1 }}</td>
      <td class="center-cell">{{ user.name }}</td>
      <td class="center-cell">{{ user.birthday | date: 'MMM d, y' }}</td>
      <td class="center-cell">{{ user.gender }}</td>
      <td class="center-cell">{{ user.country }}</td>
      <td class="actions-cell center-cell">
        <p-button
          label="View"
          icon="pi pi-eye"
          size="small"
          (onClick)="view.emit(user)"
        ></p-button>
        <p-button
          label="Edit"
          icon="pi pi-pencil"
          size="small"
          (onClick)="edit.emit(user)"
        ></p-button>
        <p-button
          label="Delete"
          icon="pi pi-trash"
          severity="danger"
          size="small"
          (onClick)="remove.emit(user)"
        ></p-button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6">No users yet. Click "Add User" to create one.</td>
    </tr>
  </ng-template>
</p-table>
