.form {
  display: grid;
  gap: 1rem;
  min-width: 280px;
  width: 100%;
}

.field {
  display: grid;
  gap: 0.25rem;
}

.field input,
.field p-select,
.field p-datepicker {
  width: 100%;
}

:host ::ng-deep .field .p-inputtext,
:host ::ng-deep .field .p-select,
:host ::ng-deep .field .p-datepicker {
  width: 100%;
}
