<p-dialog
  [header]="header"
  [visible]="visible()"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [closable]="false"
  styleClass="user-dialog"
  [focusOnShow]="false"
  [focusTrap]="false"
  (visibleChange)="visible.set($event)"
  (onHide)="onHide()"
>
  <form [formGroup]="form" class="form">
    <div class="field">
      <label>Name</label>
      <input pInputText formControlName="name" />
      @if (form.controls.name.touched && form.controls.name.invalid) {
      <small class="error" *ngIf="form.controls.name.hasError('required')">
        Name is required.
      </small>
      <small class="error" *ngIf="form.controls.name.hasError('minlength')">
        Name must be at least 2 characters.
      </small>
      }
    </div>

    <div class="field">
      <label>Birthday</label>
      <p-datepicker formControlName="birthday" [showIcon]="true" appendTo="body"></p-datepicker>
      @if (form.controls.birthday.touched && form.controls.birthday.invalid) {
      <small class="error">Birthday is required.</small>
      }
    </div>

    <div class="field">
      <label>Gender</label>
      <p-select
        [options]="genderOptions"
        optionLabel="label"
        optionValue="value"
        formControlName="gender"
        appendTo="body"
      ></p-select>
    </div>

    <div class="field">
      <label>Country</label>
      <input pInputText formControlName="country" />
      @if (form.controls.country.touched && form.controls.country.invalid) {
      <small class="error" *ngIf="form.controls.country.hasError('required')">
        Country is required.
      </small>
      <small class="error" *ngIf="form.controls.country.hasError('minlength')">
        Country must be at least 2 characters.
      </small>
      }
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button label="Cancel" severity="secondary" (onClick)="onHide()"></p-button>

    @if (mode() !== 'view') {
    <p-button label="Save" [disabled]="form.invalid" (onClick)="onSave()"></p-button>
    }
  </ng-template>
</p-dialog>
